

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">Taking Happy Hour to new Heights <i class="fas fa-feather-alt"></i></h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="..img/drinks.jpeg" alt="Unsplashed background img 2" width="auto"></div>
</div>

<div class="container" id="results-container">
  <div class="row">
    <div class="col s12 center">
      <h4>Happy Hour Deals In Your Area</h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div id="cards" class="col s9">
      <div class="card orange darken-1">
        {{#each results}}
        <div class="card-content white-text">  
          <span class="card-title">{{this.id}}</span>
          <p>{{this.Restaurant_name}}<br>
            {{this.food_deal}}<br>
            {{this.drink_deal}}<br>
            {{thi.Manager_name}}<br>
            {{this.phone_number}}<br></p>
          {{/each}}
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="map-position">
      <div class="section col s12" id="map"></div>
    </div>
  </div>
</div>



